body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #000;
  font-family: 'Helveticaneuecyr roman', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  cursor: none;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 58px;
  line-height: 110%;
  font-weight: 300;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 53px;
  line-height: 110%;
  font-weight: 300;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32.4774px;
  line-height: 120%;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 17.4878px;
  line-height: 120%;
  font-weight: 500;
  text-transform: uppercase;
}

p {
  margin-bottom: 10px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

a {
  text-decoration: underline;
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  overflow: hidden;
  padding-right: 45px;
  padding-left: 45px;
}

.container.s1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 286px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.container.s2 {
  padding-bottom: 214px;
}

.container.s4 {
  padding-top: 100px;
  padding-bottom: 86px;
}

.container.s5 {
  padding-top: 200px;
  padding-bottom: 100px;
}

.container.s6.about-us {
  padding-top: 40px;
}

.container.s7 {
  padding-top: 162px;
  padding-bottom: 131px;
  background-color: #fff;
  color: #000;
}

.container.s8 {
  padding-top: 131px;
  padding-right: 0px;
  padding-bottom: 168px;
}

.container.s8.padding-right {
  padding-right: 171px;
}

.container.process {
  padding-top: 15vh;
  padding-bottom: 149px;
}

.container.s9 {
  padding-bottom: 121px;
}

.container.s10 {
  overflow: visible;
  width: 95%;
  max-width: 1230px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 121px;
  padding-right: 0px;
  padding-left: 0px;
}

.container.s11 {
  padding-top: 158px;
  padding-bottom: 76px;
}

.container.s12 {
  padding-top: 76px;
  padding-bottom: 91.5px;
}

.container.s13 {
  padding-top: 91.5px;
}

.main-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1310px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5vw;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-main {
  margin-top: 53px;
  margin-bottom: 109px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.text-btn {
  font-family: Helveticaneuecyr, sans-serif;
  color: #fff;
  font-size: 17.4878px;
  line-height: 21px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.text-btn.margin-top {
  margin-top: 36px;
}

.text-btn.no-wrap {
  white-space: nowrap;
}

.text-btn.black {
  color: #000;
}

.text-block {
  margin-left: 91px;
}

.image-mask {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.max-w-none {
  max-width: none;
}

.max-w-none.main-bottle {
  position: relative;
  z-index: -1;
}

.lightbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 95%;
  height: 58vh;
  max-width: 899px;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox.mob {
  display: none;
}

.lightbox.hide {
  display: none;
}

.lightbox-img-mask {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 485px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/image-main-ie.png');
  background-position: 50% 50%;
  background-size: 899px;
  background-repeat: no-repeat;
}

.lightbox-img-mask.bg-img-off {
  height: 100%;
  background-image: none;
}

.lightbox-img-mask.hide {
  display: none;
}

.p-15 {
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 15px;
  line-height: 130%;
  font-weight: 300;
}

.p-15.margin-left {
  max-width: 440px;
  margin-left: 50px;
}

.p-15.margin-right {
  margin-right: 14vw;
}

.p-15.margin-top {
  margin-top: 30px;
  margin-bottom: 0px;
}

.p-15.title {
  margin-bottom: 20px;
  font-weight: 500;
}

.p-15.margin-right-2 {
  margin-right: 14vw;
}

.heading-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 76px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.heading-w {
  width: 100%;
  max-width: 670px;
}

.cap-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 158px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.big-img {
  width: 100%;
  max-width: none;
}

.about-cap {
  width: 35%;
  margin-top: 30px;
  margin-left: 33px;
}

.cap-img {
  width: 65%;
}

.cards-grid {
  display: -ms-grid;
  display: grid;
  margin-bottom: 290px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.card-img {
  width: 100%;
  height: 60vh;
  margin-top: 25px;
  margin-bottom: 40px;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-32 {
  margin-bottom: 45px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 32.4774px;
  line-height: 120%;
  font-weight: 300;
}

.left-card {
  padding-left: 30vw;
}

.left-card.right-setting {
  padding-right: 20vw;
}

.left-card.grid-setting {
  display: -ms-grid;
  display: grid;
  margin-top: 250px;
  margin-bottom: 110px;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.33fr 0.55fr;
  grid-template-columns: 0.33fr 0.55fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.left-card.grid-setting.hide {
  display: none;
}

.grid-images {
  display: -ms-grid;
  display: grid;
  margin-top: 121px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 0.6fr 1fr;
  grid-template-columns: 0.6fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-100-percent {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-100-percent.img-set {
  display: block;
  margin-top: 77px;
  margin-bottom: 77px;
}

.image-100-percent.margin-top {
  margin-top: 75px;
}

.image-100-percent.video.hide {
  display: none;
}

.image-100-percent.bottle {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-100-percent.mount {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-100-percent.concert {
  width: 70vw;
  padding-left: 6vw;
}

.image-100-percent.bottle-black {
  height: auto;
  max-height: 100vh;
  max-width: 100%;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-100-percent.box {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-100-percent.box-bottle {
  height: 100%;
  max-height: 580px;
  -o-object-fit: cover;
  object-fit: cover;
}

.image-100-percent.bottom-image {
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-100-percent.mt-100 {
  margin-top: 80px;
}

.small-container {
  width: 100%;
  max-width: 445px;
  margin-top: 58px;
}

.small-container.vertical-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.anchor-link {
  display: block;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 200%;
  text-decoration: none;
}

.anchor-link.plus {
  background-image: url('../images/pluse.svg');
}

.anchor-container {
  margin-top: 47px;
  border-top: 1px solid #fff;
}

.content-wrapper {
  width: 30vw;
  margin-top: 80px;
  margin-bottom: 106px;
}

.content-wrapper.no-padding-bottom {
  height: 100%;
  margin-bottom: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.big-card {
  position: relative;
  margin-top: 77px;
  padding-top: 50px;
  padding-right: 0vw;
  border-top: 1px solid #fff;
}

.big-card.flex-set {
  padding-right: 0vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.big-card.flex-set.no-border-top {
  display: none;
  border-top-style: none;
}

.big-card.new-design {
  margin-top: 94px;
  padding-top: 40px;
}

.big-card.new-design.mt-37 {
  margin-top: 37px;
}

.year {
  position: absolute;
  left: auto;
  top: 75px;
  right: 0vw;
  bottom: auto;
  display: inline-block;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 17.4878px;
  line-height: 120%;
  font-weight: 500;
}

.year.num {
  top: 23px;
}

.grid-items {
  display: -ms-grid;
  display: grid;
  margin-top: 33px;
  margin-bottom: 26px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.52fr 1fr;
  grid-template-columns: 0.52fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-items.mt-off {
  margin-top: 0px;
}

.p-17 {
  font-size: 17.4878px;
  line-height: 120%;
}

.p-17.margin-right {
  margin-right: 22vw;
}

.p-17.margin-right.margin-bot {
  margin-bottom: 40px;
}

.p-17.margin-right.extra-padding-bottom {
  margin-bottom: 40px;
}

.p-17.width-set {
  max-width: 500px;
  margin-left: 23px;
}

.rectangle {
  background-color: #8f8f8f;
}

.rectangle._2 {
  width: 100%;
  height: 400px;
}

.rectangle.no-bkg {
  background-color: #000;
}

.text-item {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
}

.text-item.underline {
  margin-right: 0px;
  text-align: right;
  text-decoration: underline;
}

.table-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 22vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.images-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 72px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.52fr 1fr;
  grid-template-columns: 0.52fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-type-2-grid {
  display: -ms-grid;
  display: grid;
  margin-right: 0px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.7fr 1fr;
  grid-template-columns: 0.7fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-type-2-grid.alrign-bottom {
  justify-items: end;
  -webkit-box-align: end;
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
}

.heading-small-wrapper {
  width: 30vw;
}

.heading-small-wrapper.extra-padding-top {
  padding-top: 20vh;
}

.name {
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 17.4878px;
  line-height: 130%;
  font-weight: 500;
  text-transform: uppercase;
}

.sub-text {
  font-size: 17.4878px;
  line-height: 130%;
}

.big-images-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 300px;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.flex-table-set {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.45fr 0.55fr;
  grid-template-columns: 0.45fr 0.55fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.name-job {
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 17.4878px;
  line-height: 120%;
  font-weight: 500;
  text-align: right;
  text-transform: uppercase;
}

.hor-card {
  display: -ms-grid;
  display: grid;
  padding-top: 42px;
  padding-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.7fr 0.3fr;
  grid-template-columns: 0.7fr 0.3fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #000;
}

.hor-card.border-top {
  margin-top: 60px;
  grid-auto-columns: 1fr;
  border-top: 1px solid #000;
}

.image-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 81px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1.5fr 1.06fr;
  grid-template-columns: 1.5fr 1.06fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.hor-scroll-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin-top: 46px;
  margin-bottom: 64px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.hor-scroll-block.grid {
  display: -ms-grid;
  display: grid;
  margin-right: 171px;
  margin-bottom: 300px;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 69px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.scroll-card {
  width: 20vw;
  margin-right: 62px;
}

.scroll-card.width-100 {
  width: 100%;
}

.img-block {
  height: 237px;
  margin-bottom: 45px;
  background-color: #222;
}

.number {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 11.2422px;
  line-height: 15px;
}

.prefoter-block {
  margin-top: 126px;
  text-align: center;
}

.soc {
  margin-right: 20px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.soc:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

.nav-soc {
  display: inline-block;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 43px;
  padding-bottom: 43px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #fff;
}

.copyright-txt {
  width: 51vw;
}

.navbar {
  display: none;
}

.menu-button {
  margin-left: auto;
  padding-right: 0px;
}

.menu-button.w--open {
  background-color: transparent;
}

.nav-menu {
  padding: 45px;
  background-color: #000;
}

.nav-link {
  display: block;
  padding-right: 0px;
  padding-left: 0px;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 35px;
  line-height: 120%;
}

.image-video {
  display: none;
}

.light-box-video {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.light-box-video.mt-132 {
  margin-top: 132px;
}

.river-img-mobile {
  display: none;
}

.mount-mobile {
  display: none;
}

.border-btn {
  height: 1.25px;
  margin-top: 10px;
  background-color: #fff;
}

.border-btn.black {
  background-color: #000;
}

.animation-btn {
  display: inline-block;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
}

.animation-btn.margin-top {
  margin-top: 20px;
}

.animation-btn.margin-top.margin-set {
  margin-top: 47px;
  margin-right: 36px;
}

.animation-btn.mt-44 {
  margin-top: 44px;
}

.play-btn {
  position: absolute;
  z-index: 2;
  background-color: transparent;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.1);
  opacity: 0;
}

.background.black {
  background-color: rgba(0, 0, 0, 0.25);
  opacity: 0.9;
}

.cursor {
  position: fixed;
  left: -10px;
  top: -10px;
  z-index: 9999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 10px;
  border-color: #fff;
  border-radius: 100%;
}

.dot {
  width: 3.5px;
  height: 3.5px;
  border-radius: 100%;
  background-color: #fff;
}

.preloader {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #000;
}

.svg-loader {
  width: 150px;
}

.link {
  color: #fff;
}

.link.black {
  color: #000;
  text-decoration: underline;
}

.background-video {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.logo-animation {
  width: 50%;
}

.image-100-percent-noscale {
  width: 100%;
}

.image-100-percent-noscale.img-set {
  display: block;
  margin-top: 77px;
  margin-bottom: 77px;
}

.image-100-percent-noscale.margin-top {
  margin-top: 75px;
}

.image-100-percent-noscale.video.hide {
  display: none;
}

.swiper-container {
  padding-right: 2.5%;
  padding-bottom: 80px;
  padding-left: 2.5%;
  background-color: #801a2c;
}

.swiper-container.scroll-stop {
  overflow: hidden;
  padding-right: 0%;
  padding-left: 0px;
  background-color: #000;
}

.swiper-button-next {
  display: none;
}

.swiper-button-prev {
  display: none;
  padding-left: 40px;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-perspective: 0px;
  perspective: 0px;
}

.swiper-slide {
  overflow: hidden;
  width: auto;
  height: auto;
  min-width: 0px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 0px;
  background-color: transparent;
}

.find-image {
  width: auto;
  height: 100vh;
  padding-right: 40px;
  padding-bottom: 20px;
}

.paragraph {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
  text-align: left;
}

.img-set {
  padding-top: 77px;
  padding-bottom: 77px;
}

.heading {
  margin-bottom: 45px;
}

.anchor-link-plus {
  display: block;
  border-bottom: 1px solid #fff;
  background-image: url('../images/pluse.svg');
  background-position: 98% 50%;
  background-size: 0px;
  background-repeat: no-repeat;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 15px;
  line-height: 200%;
  text-decoration: none;
}

.anchor-link-plus:hover {
  background-image: url('../images/pluse.svg');
  background-position: 98% 50%;
  background-size: 18px;
  background-repeat: no-repeat;
}

.anchor-link-plus.plus {
  background-image: url('../images/pluse.svg');
}

.longline-embed {
  padding-right: 40px;
  padding-left: 40px;
}

.slider-image {
  width: 100vw;
  height: auto;
  max-height: 90vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.heading-3 {
  font-family: Helveticaneuecyr, sans-serif;
  font-weight: 300;
}

.lottie-animation {
  height: 100%;
  opacity: 1;
}

.lottie-animation.small {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.link-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.link-block.flex {
  padding-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.circular {
  padding-top: 0vh;
  padding-bottom: 40px;
}

.concert {
  width: 70vw;
  padding-left: 6vw;
  -o-object-fit: cover;
  object-fit: cover;
}

.iphone {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: none;
}

.div-block {
  position: relative;
}

.html-embed {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 20px;
}

.center {
  padding-top: 20px;
  text-align: center;
}

.image {
  position: absolute;
  top: 33%;
  bottom: 0%;
}

.popup-mission {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.play-video-popup {
  width: 60%;
}

.popup-longline {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-process {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 99999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 6vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.play {
  display: inline-block;
  min-width: 280px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 12px;
  border-radius: 5px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Helveticaneuecyr, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.play:hover {
  background-color: #fff;
  color: #000;
}

.play.white {
  position: absolute;
  z-index: 1;
  min-width: auto;
  padding: 14px 30px;
  background-color: #fff;
  color: #000;
}

.play.white:hover {
  background-color: #000;
  color: #fff;
}

.pl-icon {
  display: inline-block;
  margin-right: 0.1em;
  -webkit-transform: translate(0px, 1px) scale3d(1.3, 1.1, 1);
  transform: translate(0px, 1px) scale3d(1.3, 1.1, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 49.79px;
  padding-right: 45px;
  padding-left: 45px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.burger-2 {
  width: 28.4px;
  height: 1.95px;
  margin-bottom: 7.89px;
  background-color: #fff;
}

.burger-2._3 {
  margin-bottom: 0px;
}

.soc-2-wrapper {
  margin-right: auto;
}

.brand {
  margin-bottom: 20px;
}

.p-43 {
  font-size: 43px;
  line-height: 120%;
  text-align: center;
}

.main-info {
  width: 95%;
  max-width: 860px;
  margin-top: 219px;
  margin-right: auto;
  margin-left: auto;
}

.river-block {
  width: 100%;
  height: 716px;
  max-width: 780px;
  background-image: url('../images/river-im.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.river-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h-48 {
  margin-bottom: 80px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 48px;
  line-height: 110%;
  font-weight: 300;
}

.text-river {
  position: absolute;
  left: 54%;
  max-width: 560px;
}

.serv-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 64px;
  grid-auto-columns: 1fr;
  grid-column-gap: 45px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.links-wrapper {
  border-top: 1px solid #fff;
}

.gr-link {
  display: block;
  padding-top: 8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  font-family: Helveticaneuecyr, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 130%;
  font-weight: 300;
  text-decoration: none;
}

.hor-card-db {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 260px;
  padding-top: 33px;
  padding-bottom: 33px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #fff;
  font-size: 43px;
  line-height: 120%;
}

.hor-card-db.border-top {
  margin-top: 62px;
  border-top: 1px solid #fff;
}

.num-col {
  width: 100%;
  max-width: 105px;
  margin-right: 23px;
}

.head-col {
  width: 100%;
  max-width: 298px;
  margin-right: 20px;
}

.p-col {
  width: 100%;
  margin-right: 70px;
  line-height: 130%;
}

.label-list {
  margin-bottom: 14px;
  font-family: Helveticaneuecyr, sans-serif;
  font-size: 15px;
  line-height: 130%;
  font-weight: 700;
}

.list {
  font-size: 25px;
}

.list-txt {
  font-size: 15px;
  line-height: 130%;
}

.list-item {
  margin-bottom: 5px;
  padding-left: 17px;
  background-image: url('../images/list-cirlce.svg');
  background-position: 0% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.list-wrapper {
  width: 80%;
}

.image-grid {
  display: -ms-grid;
  display: grid;
  margin-top: 57px;
  grid-auto-columns: 1fr;
  grid-column-gap: 33px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.faq {
  padding: 8vh 8vw;
}

.faq-link {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  font-size: 30px;
  line-height: 120%;
}

.faq-link:hover {
  opacity: 0.7;
}

.pane-layout {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  display: none;
  overflow: auto;
  padding: 8vh 8vw;
  background-color: #000;
}

.close {
  z-index: 3;
}

.content-fq {
  display: -ms-grid;
  display: grid;
  margin-top: 40px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fq-h {
  width: 100%;
  font-size: 30px;
  line-height: 130%;
}

.q-p {
  width: 100%;
  max-width: 350px;
  font-size: 18px;
  line-height: 1.5em;
}

@media screen and (max-width: 991px) {
  .main-content-wrapper {
    padding-right: 0vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block {
    margin-left: 0px;
  }

  .image-mask {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .cap-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-cap {
    width: 50%;
  }

  .cap-img {
    width: 100%;
  }

  .cards-grid {
    grid-row-gap: 150px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .left-card {
    padding-left: 20vw;
  }

  .left-card.right-setting {
    padding-right: 10vw;
    padding-left: 10vw;
  }

  .left-card.grid-setting {
    padding-left: 10vw;
  }

  .content-wrapper.no-padding-bottom {
    width: 50vw;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .p-17.margin-right {
    margin-right: 0vw;
  }

  .table-wrap {
    margin-right: 0vw;
  }

  .heading-small-wrapper {
    width: 50vw;
  }

  .flex-table-set {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .hor-card {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hor-scroll-block {
    overflow: auto;
    width: 175vw;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .hor-scroll-block.grid {
    width: auto;
    margin-right: 45px;
    margin-bottom: 150px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .scroll-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 33vw;
    margin-right: 2vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .cursor {
    display: none;
  }

  .logo-animation {
    width: 70%;
  }

  .swiper-container.scroll-stop {
    padding-left: 0px;
  }

  .find-image {
    padding-right: 20px;
  }

  .lottie-animation.small {
    width: 100%;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .concert {
    width: 100vw;
    padding-top: 40px;
    padding-left: 0vw;
  }

  .scroller {
    overflow: auto;
  }

  .river-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-river {
    position: static;
    left: 10vw;
    max-width: none;
    margin-top: 35px;
  }

  .serv-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hor-card-db {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .num-col {
    margin-bottom: 23px;
  }

  .head-col {
    margin-bottom: 23px;
  }

  .p-col {
    margin-bottom: 23px;
  }
}

@media screen and (max-width: 767px) {
  .p-15.margin-left {
    max-width: none;
    margin-left: 0px;
  }

  .heading-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .heading-w {
    margin-bottom: 35px;
  }

  .about-cap {
    width: 80%;
  }

  .left-card {
    padding-left: 0vw;
  }

  .left-card.right-setting {
    padding-right: 0vw;
    padding-left: 0vw;
  }

  .left-card.grid-setting {
    margin-top: 100px;
    padding-left: 0vw;
    -ms-grid-columns: 0.5fr 0.75fr;
    grid-template-columns: 0.5fr 0.75fr;
  }

  .grid-images {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .small-container {
    width: 100%;
    max-width: none;
  }

  .content-wrapper.no-padding-bottom {
    width: 80vw;
  }

  .grid-items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .images-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .image-type-2-grid {
    margin-right: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-small-wrapper {
    width: 70vw;
  }

  .big-images-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .flex-table-set {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .name-job {
    text-align: left;
  }

  .image-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hor-scroll-block {
    width: 225vw;
  }

  .hor-scroll-block.grid {
    margin-bottom: 0px;
  }

  .scroll-card {
    width: 40vw;
    margin-right: 5vw;
  }

  .prefoter-block {
    margin-right: 45px;
  }

  .nav-soc {
    margin-bottom: 55px;
  }

  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .copyright-txt {
    width: 100%;
  }

  .swiper-container {
    padding-left: 5%;
  }

  .swiper-slide {
    max-width: 99%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .find-image {
    height: auto;
    max-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 43px;
    line-height: 1;
  }

  h3 {
    font-family: Helveticaneuecyr, sans-serif;
    font-size: 31px;
    font-weight: 300;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container.s1 {
    padding-top: 56px;
  }

  .container.s2 {
    position: relative;
  }

  .container.s3 {
    padding-top: 107px;
  }

  .container.s4 {
    padding-top: 120px;
  }

  .container.s5 {
    padding-bottom: 51px;
  }

  .container.s6 {
    padding-top: 51px;
    padding-bottom: 72px;
  }

  .container.s7 {
    padding-top: 85px;
    padding-bottom: 103px;
  }

  .container.s8 {
    padding-top: 102px;
    padding-bottom: 178px;
  }

  .text-btn.margin-top {
    font-size: 16.2387px;
    font-weight: 500;
  }

  .text-btn.no-wrap {
    white-space: normal;
  }

  .image-mask {
    width: 100%;
  }

  .max-w-none {
    max-width: 100%;
  }

  .lightbox {
    display: none;
  }

  .lightbox.mob {
    display: none;
  }

  .p-15.margin-right {
    margin-right: 0vw;
  }

  .p-15.margin-right-2 {
    margin-right: 0vw;
  }

  .heading-w {
    font-size: 43px;
    line-height: 1;
  }

  .cap-wrapper {
    margin-top: 400px;
  }

  .big-img {
    position: absolute;
    left: 0px;
  }

  .about-cap {
    width: 100%;
    margin-bottom: 63px;
    margin-left: 0px;
  }

  .cap-img {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }

  .cards-grid {
    margin-bottom: 200px;
  }

  .card-img {
    height: auto;
  }

  .p-32 {
    margin-top: 50px;
    font-family: Helveticaneuecyr, sans-serif;
    font-size: 26px;
    font-weight: 300;
  }

  .left-card.grid-setting {
    margin-bottom: 102px;
  }

  .grid-images {
    margin-top: 91px;
  }

  .image-100-percent.img-set {
    margin-top: 0px;
    margin-bottom: 64px;
  }

  .image-100-percent.margin-top {
    display: none;
    margin-top: 0px;
  }

  .image-100-percent.video {
    display: none;
  }

  .image-100-percent.moun {
    display: none;
  }

  .image-100-percent.bottle {
    height: 60vh;
  }

  .image-100-percent.mount {
    height: auto;
  }

  .image-100-percent.bottle-black {
    height: 580px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .image-100-percent.box-bottle {
    height: auto;
    max-height: none;
  }

  .content-wrapper {
    margin-top: 100px;
  }

  .content-wrapper.no-padding-bottom {
    width: 87vw;
  }

  .big-card {
    padding-top: 73px;
    padding-right: 0vw;
  }

  .big-card.flex-set {
    margin-top: 24px;
  }

  .year {
    left: 0px;
    right: auto;
  }

  .p-17.margin-right {
    margin-top: 47px;
    margin-bottom: 135px;
  }

  .text-item {
    font-size: 13.99px;
    line-height: 150%;
  }

  .images-grid {
    grid-row-gap: 30px;
  }

  .heading-small-wrapper {
    width: auto;
  }

  .name {
    margin-top: 72px;
  }

  .big-images-grid {
    margin-top: 23px;
  }

  .image-wrapper {
    grid-row-gap: 20px;
  }

  .hor-scroll-block {
    width: 325vw;
  }

  .hor-scroll-block.grid {
    margin-right: 20px;
  }

  .scroll-card {
    width: 60vw;
    margin-right: 5vw;
  }

  .footer-wrapper {
    padding-top: 27px;
  }

  .navbar {
    position: fixed;
    left: 0%;
    top: -100%;
    right: 0%;
    bottom: auto;
    display: block;
    background-color: #000;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
  }

  .navbar.show {
    top: 0%;
  }

  .burger {
    width: 29px;
    height: 2px;
    margin-bottom: 8px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: #fff;
  }

  .burger._3 {
    margin-bottom: 0px;
  }

  .menu-button.w--open {
    background-color: transparent;
  }

  .nav-menu {
    padding-right: 20px;
    padding-bottom: 49px;
    padding-left: 20px;
    background-color: #000;
  }

  .nav-link {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    font-family: Helveticaneuecyr, sans-serif;
    color: #fff;
    font-size: 31px;
    line-height: 120%;
    font-weight: 300;
  }

  .nav-link.w--current {
    color: #fff;
  }

  .nav-link.last {
    border-bottom-style: none;
  }

  .button {
    display: block;
    margin-top: 32px;
    padding: 18px 50px;
    border: 1px solid #fff;
    border-radius: 1000px;
    font-family: Helveticaneuecyr, sans-serif;
    color: #fff;
    font-size: 20px;
    line-height: 120%;
    font-weight: 300;
    text-align: center;
  }

  .image-video {
    display: none;
    height: 552px;
    background-image: url('../images/light-box-video_1.jpg');
    background-position: 50% 50%;
    background-size: 1345px;
    background-repeat: no-repeat;
  }

  .light-box-video {
    width: 100%;
    height: 60vh;
  }

  .river-img-mobile {
    display: block;
    height: 50vh;
    margin-top: 75px;
    background-image: url('../images/river-im.jpg');
    background-position: 50% 50%;
    background-size: 1350px;
    background-repeat: no-repeat;
  }

  .mount-mobile {
    display: block;
    height: 550px;
    background-image: url('../images/mountian-we.jpg');
    background-position: 50% 50%;
    background-size: 779px;
    background-repeat: no-repeat;
  }

  .border-btn {
    display: none;
  }

  .logo-animation {
    width: 100%;
  }

  .image-100-percent-noscale.img-set {
    margin-top: 0px;
    margin-bottom: 64px;
  }

  .image-100-percent-noscale.margin-top {
    display: none;
    margin-top: 0px;
  }

  .image-100-percent-noscale.video {
    display: none;
  }

  .image-100-percent-noscale.moun {
    display: none;
  }

  .swiper-container {
    padding-left: 10px;
  }

  .swiper-slide {
    height: auto;
    max-width: 99%;
  }

  .find-image {
    height: 300px;
    max-width: 100%;
    padding-right: 0px;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .paragraph {
    width: auto;
    font-size: 15px;
    font-weight: 300;
  }

  .slider-image {
    height: auto;
  }

  .circular {
    font-size: 43px;
    line-height: 1;
  }

  .image {
    top: 35%;
    width: 17%;
  }

  .scroller {
    overflow: auto;
  }

  .nav-2 {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .soc-2-wrapper {
    display: none;
  }

  .brand {
    width: 130px;
    margin-bottom: 0px;
  }

  .p-43 {
    font-size: 7vw;
  }

  .main-info {
    margin-top: 150px;
  }

  .h-48 {
    margin-bottom: 50px;
    font-size: 7vw;
  }

  .image-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@font-face {
  font-family: 'Helveticaneuecyr';
  src: url('../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneuecyr';
  src: url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneuecyr roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helveticaneuecyr';
  src: url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}